body{
  background-color: white;
}

/* The sidebar menu */
.sidenav {
  margin: 0;
  padding: 0;
  width: 450px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  }

.hero-image{
    text-align: center;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url("../assets/angello-pro-Es9dZdtXT5Y-unsplash.jpg");
    background-size: cover;
    justify-content: center;
}
 
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: inline block;
    font-family: 'Titillium Web', sans-serif;;
  }

  .sidenav a:hover {
    color: black;
  }
  
  /* Style page content */
  .main {
    margin-left: 450px; /* Same as the width of the sidebar */
    padding-left: 30px;
  }

  @media screen and (max-width: 700px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {
      font-size: 18px;
      width: 100%;
      height: auto;
      position: relative;
    }
  }

  
  

h1{
  margin-top: 40px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif; 
    margin-bottom: 3%;
    padding: 30px;
}

p {
    font-family: 'Titillium Web', sans-serif; 
}

.avatar {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;

  }

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.description {
  padding-top: 20px;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 30px;
  color: white;
}

.aboutme{
  /* text-align: center; */
  font-family: 'Titillium Web', sans-serif; 
  font-size: 20px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;

}



.latestProjects{
  text-align: center; 
  font-size: 40px;
  padding: 5px;
}

.moreAboutMe{
  padding-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 20px;
  color: black;
  padding: 30px;
}

/* Rounded Social Buttons */

@charset "UTF-8";

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}



.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
  opacity: 0.5;
}

.rounded-social-buttons .social-button.linkedin:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}


.rounded-social-buttons .social-button.github {
  background: #000000;
  opacity: 0.5;
}

.rounded-social-buttons .social-button.github:before {
  font-family: "FontAwesome";
  content: "";
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

button {
  background: none;
  border-radius: 50%;
  padding: 10px;
  background-color: transparent;
  border: 1px black;
}


.secondary {
  border-radius: 1000px;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif; 
}

div[class*=box] {
	height: 33.33%;
	width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 { 
  background-color:transparent; 

}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
	color:#275B63;
	transition: all 0.3s;
  position: relative;
  font-family: 'Titillium Web', sans-serif; 
  font-size: 30px;
}
.btn-one span {
  transition: all 0.3s;
  
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: black;
	border-bottom-color: black;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
